<div class="row">
    <div class="col-1 offset-1">
        <span class="lable-top"><h2>ETL1</h2></span>
    </div>
    <div class="col-2 offset-8">
        <a class="btn btn-danger">Delete</a> 
    </div>
</div>

<div class="row">
    <div class="col-4 offset-2">
        <div class="row">
            <span class="lable-top"><h2>Source</h2></span>
        </div>
        <mat-card class="example-card">
            <div class="row">
                <p>Host</p>
            </div>
            <div class="row">
                <p>Database</p>
            </div>
            <div class="row">
                <p>Schema</p>
            </div>
            <div class="row">
                <p>Table</p>
            </div>
        </mat-card>
        
    </div>

    <div class="col-4">
        <div class="row">
            <span class="lable-top"><h2>Destination</h2></span>
        </div>
        <mat-card class="example-card">
            <div class="row">
                <p>Host</p>
            </div>
            <div class="row">
                <p>Database</p>
            </div>
            <div class="row">
                <p>Schema</p>
            </div>
            <div class="row">
                <p>Table</p>
            </div>
        </mat-card>
    </div>
</div>
<a class="btn btn-success offset-1" routerLink="/etl-list">Back</a>

