<div class="row">
    <div class="col-1 offset-1">
        <span class="lable-top"><h2>{{etl.name}}</h2></span>
    </div>
    <div class="col-2 offset-8">
        <a class="btn btn-danger" (click)="onDelete()">Delete</a> 
    </div>
</div>

<div class="row">
    <div class="col-4 offset-2">
        <div class="row">
            <span class="lable-top"><h2>Source: </h2></span>
        </div>
        <mat-card class="example-card">
            <div class="row">
                <p>Host: {{etl.source_host}}</p>
            </div>
            <div class="row">
                <p>Database: {{etl.source_database}}</p>
            </div>
            <div class="row">
                <p>Schema: {{etl.source_schema}}</p>
            </div>
            <div class="row">
                <p>Table: {{etl.source_table}}</p>
            </div>
        </mat-card>
        
    </div>

    <div class="col-4">
        <div class="row">
            <span class="lable-top"><h2>Destination</h2></span>
        </div>
        <mat-card class="example-card">
            <div class="row">
                <p>Host: {{etl.destination_host}}</p>
            </div>
            <div class="row">
                <p>Database: {{etl.destination_database}}</p>
            </div>
            <div class="row">
                <p>Schema: {{etl.destination_schema}}</p>
            </div>
            <div class="row">
                <p>Table: {{etl.destination_table}}</p>
            </div>
        </mat-card>
    </div>
</div>
<div class="row offset-2 col-8 mt-5">
    <div class="row">
        <span class="lable-top"><h2>Log: </h2></span>
    </div>
    <mat-card class="example-card">
        <p>{{etl['error_log']}}</p>
    </mat-card>
</div>
<a class="btn btn-success offset-1 mt-5" routerLink="/etl-list">Back</a>

