<div class="row">
    <div class="col-1 offset-1">
        <span class="lable-top"><h2>New ETL</h2></span>
    </div>
    <div class="col-2 offset-8">
        <a class="btn btn-danger" routerLink="/etl-list">Cancle</a>
    </div>
</div>

<mat-horizontal-stepper linear #stepper class="offset-1 col-10">
    <mat-step [stepControl]="selecSourcetFormGroup" [editable]="true">
        <form [formGroup]="selecSourcetFormGroup">
        <ng-template matStepLabel>Select source</ng-template>

        <p>
            <mat-form-field appearance="fill" class="example-half-width">
                <mat-label>Name ETL</mat-label>
                <input matInput formControlName="nameEtlCtrl"
                        required>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill" class="example-half-width">
                <mat-label>Source</mat-label>
                <!-- <input matInput formControlName="firstCtrl" placeholder="Last name, First name" required> -->
                <mat-select formControlName="sourceCtrl">
                    <mat-option value="postgresql">Postgresql</mat-option>
                    <mat-option value="mysql">MySQL</mat-option>
                    <mat-option value="csv">CSV</mat-option>
                </mat-select>
            </mat-form-field>
        </p>
        
        <div>
            <button mat-button matStepperNext class="btn btn-success" (click)="onSubmitSelectSource()">Next</button>
        </div>
        </form>
    </mat-step>

    <mat-step *ngIf="isCsv" [stepControl]="infoSoureCsvGroup" [editable]="true" [optional]="true">
            <ng-template matStepLabel>Info source</ng-template>
        <p>
            <input id="inputFile" type="file" accept="csv" (change)="onFileSelected($event)" required>
        </p>
        <div>
            <button mat-button matStepperPrevious class="btn btn-danger">Back</button>
            &nbsp;&nbsp;
            <button [disabled]="showLoading" mat-button (click)="onSubmitFile()" class="btn btn-success"><i *ngIf="showLoading" class="fas fa-spinner fa-spin"></i>&nbsp; Next</button>
            <button #buttonNextFileSrc mat-button matStepperNext class="btn btn-success" style="display: none;">Next</button>
        </div>
    </mat-step>

    <mat-step *ngIf="!isCsv" [stepControl]="infoSoureFormGroup" [editable]="true">
        <form [formGroup]="infoSoureFormGroup">
        <ng-template matStepLabel>Info source</ng-template>
        <p>
            <mat-form-field appearance="fill" class="example-half-width">
                <mat-label>Host</mat-label>
                <input matInput formControlName="hostSrcCtrl"
                        required>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill" class="example-half-width">
                <mat-label>Port</mat-label>
                <input matInput formControlName="portSrcCtrl"
                        required>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill" class="example-half-width">
                <mat-label>Username</mat-label>
                <input matInput formControlName="usernameSrcCtrl"
                        required>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill" class="example-half-width">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="passwordSrcCtrl"
                        required>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill" class="example-half-width">
                <mat-label>Database</mat-label>
                <input matInput formControlName="databaseSrcCtrl"
                        required>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill" class="example-half-width">
                <mat-label>Schema</mat-label>
                <input matInput formControlName="schemaSrcCtrl"
                        required>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill" class="example-half-width">
                <mat-label>Table</mat-label>
                <input matInput formControlName="tableSrcCtrl"
                        required>
            </mat-form-field>
        </p>
        <div>
            <button mat-button matStepperPrevious class="btn btn-danger">Back</button>
            &nbsp;&nbsp;
            <button [disabled]="showLoading" mat-button (click)="onSubmitSource()" class="btn btn-success"><i *ngIf="showLoading" class="fas fa-spinner fa-spin"></i>&nbsp; Next</button>
            <button #buttonNextValidateSrc mat-button matStepperNext class="btn btn-success" style="display: none;">Next</button>
        </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="infoDestinationFormGroup" [editable]="true">
        <form [formGroup]="infoDestinationFormGroup">
            <ng-template matStepLabel>Info destination</ng-template>
            <p>
                <mat-form-field appearance="fill" class="example-half-width">
                    <mat-label>Host</mat-label>
                    <input matInput formControlName="hostDesCtrl"
                            required>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="fill" class="example-half-width">
                    <mat-label>Port</mat-label>
                    <input matInput formControlName="portDesCtrl"
                            required>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="fill" class="example-half-width">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="usernameDesCtrl"
                            required>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="fill" class="example-half-width">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="passwordDesCtrl"
                            required>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="fill" class="example-half-width">
                    <mat-label>Database</mat-label>
                    <input matInput formControlName="databaseDesCtrl"
                            required>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="fill" class="example-half-width">
                    <mat-label>Schema</mat-label>
                    <input matInput formControlName="schemaDesCtrl"
                            required>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="fill" class="example-half-width">
                    <mat-label>Table</mat-label>
                    <input matInput formControlName="tableDesCtrl"
                            required>
                </mat-form-field>
            </p>
        <div>
            <button mat-button matStepperPrevious class="btn btn-danger">Back</button>
            &nbsp;&nbsp;
            <button mat-button class="btn btn-success" (click)="onSubmitDes()" [disabled]='showLoading'><i *ngIf="showLoading" class="fas fa-spinner fa-spin"></i>&nbsp; Next</button>
            <button #buttonNextValidateDes mat-button matStepperNext class="btn btn-success" style="display: none;">Next</button>
        </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="mappingColumnFormGroup" [editable]="true">
        <form [formGroup]="mappingColumnFormGroup">
        <ng-template matStepLabel>Mapping column</ng-template>
        <p>
            <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Source</mat-label>
                <input matInput formControlName="columnSrcCtrl"
                        required>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Destination</mat-label>
                <input matInput formControlName="columnDesCtrl"
                        required>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Mapping</mat-label>
                <input matInput formControlName="mappingCtrl"
                        required>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Key</mat-label>
                <input matInput formControlName="keyCtrl"
                        required>
            </mat-form-field>
        </p>
        <div>
            <button mat-button matStepperPrevious class="btn btn-danger">Back</button>
            &nbsp;&nbsp;
            <button mat-button (click)="onValidateMapping()" class="btn btn-success" [disabled]='showLoading'><i *ngIf="showLoading" class="fas fa-spinner fa-spin"></i>&nbsp; Next</button>
            <button #buttonNextValidateMapping mat-button matStepperNext style="display: none;"></button>
        </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="configEtlFormGroup" [editable]="true">
        <form [formGroup]="configEtlFormGroup">
            <ng-template matStepLabel>Start Etl</ng-template>
            <p>
                <mat-form-field appearance="fill" class="example-half-width">
                    <mat-label>Scheduler</mat-label>
                    <mat-select formControlName="schedulerCtrl">
                        <mat-option value="00:02">2 minutes</mat-option>
                        <mat-option value="00:05">5 minutes</mat-option>
                        <mat-option value="00:10">10 minutes</mat-option>
                        <mat-option value="00:30">30 minutes</mat-option>
                        <mat-option value="01:00">1 hour</mat-option>
                        <mat-option value="24:00">1 day</mat-option>
                    </mat-select>
                </mat-form-field>
            </p>
            <div>
                <button class="btn btn-danger" mat-button matStepperPrevious>Back</button>
                &nbsp;&nbsp;
                <button mat-button (click)="onSubmitAllInformation()" class="btn btn-success" [disabled]='showLoading'><i *ngIf="showLoading" class="fas fa-spinner fa-spin"></i>&nbsp; Start</button>
            </div>
        </form>
    </mat-step>
</mat-horizontal-stepper>
