<div class="row">
    <div class="col-1 offset-1">
        <span class="lable-top"><h2>ETLs</h2></span>
    </div>
    <div class="col-2 offset-8">
        <a class="btn btn-success" routerLink="/create-new-etl">New ETL</a> 
    </div>
</div>


<div class="row">

    <div class="col-sm-10 offset-1">
    <table class="table table-striped">
        <thead>
        <tr>
        <th class="name-col text">Name</th>
        <th class="status-col text">Status</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let etl of etls">
            <th class="number-table text"><a class="text"
                                            routerLink="/etl-detail/{{etl.name}}">{{etl.name}}</a></th>
            <th class="text"><mat-slide-toggle [(ngModel)]="etl.status" (click)="onChangeStatus(etl.name)"></mat-slide-toggle></th>
        </tr>
        </tbody>
    </table>
    </div>
</div>